<table>
	<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.email, user_url(user) %></td>
		<td> <%= button_to "Make Admin", user_admin_url(user) unless user.admin%></td>
	</tr>
	<% end %>
</table>

<%= link_to "New User", new_user_url%>